body {
    width: 90%;
    height:90%;
}
  
body {
    background: linear-gradient(90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
button{
    position: absolute;
    margin-left: 5%;
    margin-top : 1%;
}

input{
    margin-left: 5%;
    margin-top : 10%;
}

p{
    color:white;
}